

a {
-webkit-transition-property: color;
-webkit-transition-duration: 0.25s;
-webkit-transition-timing-function: linear;
/* CSS TRANSITION - Mozilla hack */
-moz-transition-property: color;
-moz-transition-duration: 0.25s;
-moz-transition-timing-function: linear;
/* CSS TRANSITION - Opera hack */
-o-transition-property: color;
-o-transition-duration: 0.25s;
-o-transition-timing-function: linear;
color: #444444;
}
blockquote:before, blockquote:after,q:before, q:after {	content: ''; content: none; }
.column a:hover,.sidebar a:hover,a:hover {color:#c70000;}
.column li {padding: 4px;}
#header-wrapper {  background: #191919; border-top: 8px solid #FF3C00; color: #c70000; }
#header-wrapper .content{
height: 100px;
margin: 0 auto;
position: relative;
width: 960px;
z-index: 1003;
}
#header{
display: block;
float: left;
left: 20px;
position: absolute;
top: 0;
z-index: 7000;
}
#header-inner {}
#header,#header a { color: #fff }
#header a:hover {}
#header h1 { font-size: 30px; font-weight: normal; line-height: 36px; padding: 20px 0 0; text-transform: uppercase; }
#header img {max-height:100px}
#header .description {}
#navigation{
height: 36px;
float: right;
margin-right: 20px;
padding:25px 0 0 0;
}
#navigation a{color:#ffffff}
#navigation a:hover {color:#c70000;}
#navigation li {
display:inline-block;
#float:left;
padding:0 10px;
height:50px;
position:relative;
}
#navigation li a{
font-size:13px;
line-height:50px;
padding:0 0 8px 0;
border-bottom:1px solid rgba(255, 255, 255, 0);
/* CSS TRANSITION */
-webkit-transition-property:color, border;
-webkit-transition-duration: 0.1s, 0.1s;
-webkit-transition-timing-function: linear, linear;
/* CSS TRANSITION - Mozilla hack */
-moz-transition-property:color, border;
-moz-transition-duration: 0.1s, 0.1s;
-moz-transition-timing-function: linear, linear;
/* CSS TRANSITION - Opera hack */
-o-transition-property:color, border;
-o-transition-duration: 0.1s, 0.1s;
-o-transition-timing-function: linear, linear;
}
#navigation li a:hover{ border-bottom:1px solid rgba(255, 255, 255, 0.2);  }
#navigation li .arrow_down{
display:inline-block; background:url(../lh5.googleusercontent.com/-cfNwSo3AFMw/UJOMfFWhPmI/AAAAAAAAEeo/CrnmA-jwI1U/s16/arrow_down.png) no-repeat right 50%;
padding-right: 20px;
}
#navigation li ul{
background:url(../lh4.googleusercontent.com/-UI9SOzUcHoU/UJOMnj8qHtI/AAAAAAAAEgc/PtXYhkw2Tqo/transparency-black.png) repeat;
border-top:1px solid rgba(255, 255, 255, 0.2);
display:none;
padding:3px 0 8px 0;
text-align:left;
width:180px;
position:absolute;
top:40px;
left:0;
z-index:9000;
-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
-o-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
/* CSS3 ROUND CORNER */
-moz-border-radius: 	2px 2px 2px 2px;
-webkit-border-radius:	2px 2px 2px 2px;
-o-border-radius:		2px 2px 2px 2px;
-khtml-border-radius:	2px 2px 2px 2px;
border-radius:			2px 2px 2px 2px;
}
#navigation li ul a{
border-bottom:none;
font-size:12px;
display:block;
padding:4px 8px;
margin:0 8px;
line-height:22px;
background:url(../lh6.googleusercontent.com/-GKcIxkcqBKU/UJOMgZe57_I/AAAAAAAAEe4/1pFvUjZuSHk/s2/ft_separator.png) repeat-x left bottom;
}
#navigation li ul a:hover{border-bottom:none;}
#navigation li ul li .arrow_down{
background:url(../lh3.googleusercontent.com/-m2ED8XkwFLA/UJOMgA0zYzI/AAAAAAAAEew/XFtIBD5qQ-w/s16/arrow_down2.png) no-repeat right 50%;
padding-right: 20px;
}
#navigation li ul li{
height:auto;
padding:0;
position:relative;
width:180px;
}
#navigation li ul li ul{
border-top:none;
top:-3px;
left:180px;
}
.ccslider {position: relative;}
.slider-innerWrapper {	position: relative;	width: 100%;height: 100%;}
.slider-innerWrapper img {
position: absolute;
top: 0;
left: 0;
visibility: visible !important;
}
.slider-controls {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 99;
display: none;
}
.ccslider:hover .slider-controls {display: block;}
a.slider-nav {position: absolute;top: 50%;cursor: pointer;	}
.slider-nav.prev {left: 0;}
.slider-nav.next {right: 0;}
.slider-timer {
position: absolute;
left: 50%;
top: 50%;
z-index: 200;
cursor: pointer;
display: none;
}
.ccslider:hover .slider-timer {display: block;}
.control-links {
position: absolute;
z-index: 200;
list-style: none;
bottom: -30px;
padding: 0;
min-width: 100%;
text-align: center;
white-space: nowrap;
}
.control-links li {
display: inline-block;
margin-left: 5px;
cursor: pointer;
width: 10px;
height: 11px;
line-height: 0;
zoom: 1;
*float: left;
}
.control-links li:first-child {margin-left: 0;}
.control-links li.linkThumb {
width: auto;
height: auto;
position: relative;
top: 50px;
text-indent: 0;
background: transparent none;
-moz-transition: all 400ms ease;
-webkit-transition: all 400ms ease;
-o-transition: all 400ms ease;
-ms-transition: all 400ms ease;
transition: all 400ms ease;
}
.control-links li.linkThumb.active {
background: transparent none;
z-index: 1;
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
.control-links li.linkThumb img {display: inline !important;visibility: visible !important;}
.ccslider.controlThumbs {margin-bottom: 100px;}
.cc-caption {display: none;}
.slider-caption {
background: #000;
background: rgba(0, 0, 0, 0.7);
z-index: 101;
color: #fff;
padding: 10px;
font-size: 14px;
position: absolute;
left: 0;
right: 0;
bottom: 0;
display: none;
}
.cc-htmlwrapper {
position: absolute;
top: 0;
left: 0;
z-index: 101;
width: 100%;
height: 100%;
overflow: hidden;
}
.cc-html {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
}
.slider-link {
display: block;
position: absolute;
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background: url(about:blank);
}
.wipe-div {
position: absolute;
top: 0;
left: 0;
z-index: 3;
width: 0;
height: 0;
}
.split1-div, .split2-div {position: absolute;z-index: 4;}
.circle-div {
position: absolute;
top: 50%;
left: 50%;
z-index: 3;
width: 0;
height: 0;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
}
.clock-mask {
position: absolute;
top: 0;
z-index: 3;
width: 50%;
height: 100%;
overflow: hidden;
}
.clock-mask.left {left: 0;}
.clock-mask.right {right: 0;}
.clock-outer {position: absolute;top: 50%;overflow: hidden;}
.left .clock-outer {
-moz-transform-origin: left center;
-webkit-transform-origin: left center;
-o-transform-origin: left center;
-ms-transform-origin: left center;
transform-origin: left center;
}
.right .clock-outer {
-moz-transform-origin: right center;
-webkit-transform-origin: right center;
-o-transform-origin: right center;
-ms-transform-origin: right center;
transform-origin: right center;
}
.clock-inner {position: absolute;top: 50%;}
.left .clock-inner {left: -50%;}
.right .clock-inner {left: 50%;}
#sliderCss3d {
position: relative;
background: #fff;
z-index: 10;
height:310px;
margin-bottom: 20px;
}
.slider3d {
width: 910px;
height: 310px;
margin: 60px auto 40px auto;
}
.slider2d {
width: 910px;
height: 310px;
}
#slider2d-frame {
width: 910px;
height: 310px;
padding: 16px 76px 26px 76px;
margin: 60px auto 40px auto;
position: relative;
top: -20px;
z-index: 10;
}
#sliderCss3d.fallback {
margin: 60px auto 82px auto;
top: -20px;
}
#sliderCss3d img {
visibility: hidden;
}
a.slider-nav {
width:53px;
height:38px;
top: 50%;
margin-top: -17px;
}
.slider-nav.prev {
background: url(../lh6.googleusercontent.com/-4s4CcAVeftA/UJPPuhDgz0I/AAAAAAAAEh4/svhzaVSMJbI/s52/slider_big_arrow_left.png) no-repeat;
left: -26px;
}
.slider-nav.next {
background: url(../lh3.googleusercontent.com/-WbhJHH4A5nI/UJPPuiT5f5I/AAAAAAAAEh8/lSReGQqB5x4/s52/slider_big_arrow_right.png) no-repeat;
right: -26px;
}
.slider-timer {
width: 50px;
height: 50px;
left: 50%;
margin-left: -25px;
top: 50%;
margin-top: -25px;
}
.slider3d .control-links {bottom: 0;}
.slider2d .control-links, #sliderCss3d.fallback .control-links {bottom: -30px;}
.control-links li {
margin-left: 5px;
cursor: pointer;
background: url(../lh5.googleusercontent.com/-HUKFNp3z_bc/UJPPuc6oA8I/AAAAAAAAEhw/l4sWS5W0SjE/s32/bullets.png) no-repeat bottom;
width: 16px;
height: 16px;
text-indent: -99999px;
}
.control-links li.active {
background-position:center 0px;
}
.slider-caption {
background: #000;
background: rgba(0, 0, 0, 0.6);
color: #FFF;
text-align:center;
}
#description {width: 400px;}
#description h3 {
font: 42px 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #3A61A8;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
text-align: center;
margin-bottom: 40px;
}
#description p {
margin: 20px 0 40px 0;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
color: #333;
}
#description ul {	margin: 20px 0 40px 0; }
#effects {
width: 400px;
position: absolute;
top: 40px;
right: 30px;
text-align: center;
}
#effects h3 {
font: 20px 'PT Sans', Helvetica, Arial, sans-serif;
color: #333;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
margin-bottom: 10px;
}
.effectType {
display: inline-block;
width: 102px;
height: 33px;
font: bold 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #fff;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
text-align: center;
text-decoration: none;
line-height: 30px;
margin: 30px 20px 20px 20px;
background: url(images/button.html) no-repeat;
cursor: pointer;
position: relative;
}
.effectType:active {top: 1px;}
#effect3d, #effect2d {
position: absolute;
top: 82px;
left: 50%;
}
#effect3d {width: 330px;margin-left: -165px;}
#effect2d {
width: 150px;
margin-left: -75px;
display: none;
}
#no-3d {
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
color: #333;
display: none;
}
.effectList, #sliceList {
float: left;
width: 150px;
height: 34px;
margin-bottom: 20px;
}
#sliceList {margin-left: 30px;}
.selected {
background: #ccc;
font: 13px/34px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
color: #666;
text-shadow: 1px 1px 0 #eee;
width: 150px;
height: 34px;
margin: 20px auto 0 auto ;
cursor: pointer;
position: relative;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
behavior: url(PIE.html);
}
.selected:after {
content: '';
position: absolute;
top: 50%;
right: 5px;
margin-top: -3px;
border: 5px solid transparent;
border-top: 5px solid #666;
}
.selected.active:after {
content: '';
margin-top: -8px;
border: 5px solid transparent;
border-bottom: 5px solid #666;
}
.dropDown {
background: #222;
font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #fff;
position: relative;
z-index: 10;
display: none;
}
.dropDown li {height: 30px;	line-height: 30px;cursor: pointer;}
.dropDown li:hover {background: #274772;}
#slider{border-bottom:1px solid #d9d9d9; background:#ddd url('https://1.bp.blogspot.com/-1T3v3K1Nuqc/XTbTfnJK88I/AAAAAAAABRo/FbMJLsiCv1M-60NCFUlk5BfS5AVzWvfjACLcBGAs/s1600/footoon.jpg) 50% 0; }
#slider .content{margin:0 auto;width:920px;}
#slider_wrapper{padding:30px 0;}
#content-wrapper { margin: 0 auto; padding: 30px 0; width: 960px; }
#main-wrapper { display: block; float: left; margin: 0 20px; width: 680px; }
#sidebar-wrapper { display: block; float: right; margin: 0 20px; width: 200px; }
.post h1 {
border-bottom:1px dotted rgba(0, 0, 0, 0.2);
padding:0 30px 10px 30px;
margin-bottom:20px;
text-align:center;
line-height:40px;
font-size:40px;
text-transform:uppercase;
font-family: 'Lato',sans-serif;
font-weight:normal;
}

/* Whitespace Reset */

 {
	margin: 0;
	padding: 0;
}

/* Images */

a img {
	border: none;
	outline: none;
}

/* Global */

body {
	color: #fff;
	font: 11px/18px Arial, sans-serif;
	background: #362d1b url(images/body.jpg) repeat-x;
}

body#layout #search_form,.pagenavi .pages,#navbar,.date-header,.feed-links,.post-location,.post-share-buttons,.post-icons{display: none !important;}
body#layout #header-wrapper .content {height:40px}
.section,.widget,.widget-content,h1,h2,h3,h4,h5,ul,li,a,p,span,img,dd{margin:0;padding:0;list-style:none;text-decoration:none;border:none;outline:none}



#container {
	position: relative;
}

.wrap {
	position: relative;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

/* Head */

#ribbon {
	height: 100px;
	color: #efefef;
	background: url(images/foot.jpg) repeat-x center top;
	font: 18px Arial, sans-serif;
	display:inline;
}

#ribbon a {
	color: #fff;
	background-color: #7f7358; /*#f70493 pink #695f48;*/
	text-decoration: none;
	padding: 2px 6px;
}

#ribbon a:hover {
	color: #fff;
	background-color: #7f7358;
	text-decoration: none;
	padding: 2px 6px;
}
#head {
	height: 130px;
	background: url(images/glow.jpg) no-repeat center top;
	display: block;
}

#head .wrap {
	height: 90px;
}

#head h1 a {
	background: url(images/logo.gif) no-repeat;
	width: 304px;
	display: inline;
	float: left;
	height: 68px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	top: 36px;
	left: 0;
}

#head h1 a img {
	position: relative;
	left: 10135px;
}

#head span a {
	background: url(images/twitter.gif) no-repeat;
	width: 250px;
	display: inline;
	float: left;
	height: 68px;
	text-indent: -9999px;
	overflow: hidden;
	margin-left: 120px;
	position: absolute;
	top: 35px;
	left: 295px;
}

#head span a img {
	position: relative;
	left: 9999px;
}

#head strong a {
	background: url(images/appstore.gif) no-repeat;
	width: 222px;
	display: inline;
	float: right;
	height: 115px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	top: 10px;
	right: 0;
}

/* The Awesome */

#theawesome {
	background: url(images/wallpaper.jpg) repeat-x center top;
	height: 557px;
	clear: both;
}

#theawesome .wrap {
	height: 557px;
}

/* @group iPhone */

#iphone {
	width: 277px;
	height: 523px;
	background: url(images/iphone.png) no-repeat;
	position: absolute;
	top: 25px;
	left: -20px;
}

#iphone .viewport {
	position: absolute;
	width: 225px;
	height: 339px;
	top: 84px;
	left: 27px;
	overflow: hidden;
}

#iphone .viewport img.menubar {
	position: absolute;
	width: 225px;
	height: 15px;
	top: 0;
	left: 0;
	z-index: 98;
}

#iphone .viewport .scroll {
	width: 920px;
	position: absolute;
	left: 0;
	padding-top: 15px;
}

#iphone img {
	float: left;
	display: inline;
}

#iphone a {
	position: absolute;
	top: 35px;
	left: 212px;
	z-index: 99;
}

/* @end */

#intro {
	display: block;
	padding-left: 310px;
	width: 670px;
	padding-top: 45px;
}

#intro img {
	position: relative;
	margin-left: -15px;
}

#intro h2 {
	font: normal normal 30px/32px "Helvetica Neue", Arial;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
	width: 631px;
	height: 69px;
	background: url(images/titles/intro.png) no-repeat;
	margin-bottom: 30px;
}

#intro h2 em {
	font-weight: normal;
	background-color: #4a4436;
	padding-left: 5px;
	padding-right: 5px;
	font-style: normal;
}

#steps {
	position: absolute;
	left: 310px;
	bottom: 100px;
	z-index: 9;
	height: 110px;
}

#steps ol {
	width: 360px;
	list-style: none;
}

#steps ol li {
	font: 16px/20px "Helvetica Neue", Arial;
	position: absolute;
	top: 0;
	left: 0;
}

#steps ol li strong {
	display: block;
	font-size: 20px;
	background: url(images/circle.png) no-repeat;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 20px;
}

#steps ol li.step2, #steps ol li.step3, #steps ol li.step4 {
	display: none;
}

#switcher {
	position: absolute;
	left: 310px;
	bottom: 22px;
	width: 360px;
	height: 32px;
	background: url(images/steps/switcher.jpg) no-repeat;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	z-index: 1;
}

#zoom {
	z-index: 99;
}

#switcher ol {
	width: 360px;
	z-index: 9;
	position: relative;
}

#switcher ol li {
	float: left;
	display: block;
	width: 90px;
	height: 30px;
	text-indent: -9999px;
	overflow: hidden;
}

#switcher ol li a {
	width: 90px;
	display: block;
	float: left;
	height: 30px;
}

#switcher ol li.switch1 a {
	background-image: url(images/steps/switch1.png);
}

#switcher ol li.switch2 a {
	background-image: url(images/steps/switch2.png);
}

#switcher ol li.switch3 a {
	background-image: url(images/steps/switch3.png);
}

#switcher ol li.switch4 a {
	background-image: url(images/steps/switch4.png);
}

#switcher #pill {
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 0;
}

#kettle {
	position: absolute;
	bottom: 15px;
	right: 0;
	z-index: 0;
}

/* Content */

#content {
	background: url(images/wood.jpg) repeat-x center top;
	height: 256px;
	padding-top: 38px;
	position: relative;
}

#content .wrap {
	height: 256px;
	padding-left: 14px;
}

/* Updates */

#updates {
	background: url(images/left-block.jpg) no-repeat;
	width: 266px;
	height: 215px;
	float: left;
}

/* @group Signup */

#updates .signup {
	width: 244px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
	height: 98px;
}

#updates .signup h3 {
	background: url(images/titles/signup.png) no-repeat;
	display: block;
	width: 243px;
	height: 22px;
	text-indent: -9999px;
	overflow: hidden;
}

#updates .signup fieldset {
	width: 172px;
	border-style: none;
	float: left;
	padding-top: 6px;
}

#updates .signup fieldset.button {
	width: 72px;
	border-style: none;
	float: left;
}

#updates .signup fieldset input {
	background: url(images/input.gif) no-repeat;
	border-style: none;
	color: #c9c2b7;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 8px;
	width: 158px;
	margin-bottom: 7px;
}

#updates .signup fieldset.button input {
	border-style: none;
	color: #c9c2b7;
	width: 72px;
	margin-bottom: 0;
	padding: 0;
	background-image: none;
	height: 63px;
}



/* @end */

/* @group Feedback */

#updates .feedback {
	width: 248px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 9px;
	clear: both;
}

#updates .feedback h3 {
	background: url(images/titles/feedback.png) no-repeat;
	display: block;
	width: 244px;
	height: 16px;
	text-indent: -9999px;
	overflow: hidden;
	margin-left: 2px;
	margin-bottom: 6px;
}

/* @end */

/* Screenshots */

#screenshots {
	width: 400px;
	float: left;
	padding-left: 40px;
	padding-right: 20px;
	position: relative;
}

#screenshots p {
	font: 20px/24px "Helvetica Neue", Arial;
	background: url(images/titles/screenshots.png) no-repeat;
	width: 354px;
	height: 67px;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	margin-top: 13px;
	margin-bottom: 18px;
}

#screenshots li {
	float: left;
	display: inline;
	padding-right: 22px;
}

#screenshots li img {
	
}

/* We Collaborate */

#wecollaborate {
	background: url(images/right-block.jpg) no-repeat;
	width: 194px;
	height: 197px;
	float: left;
	padding-top: 18px;
	padding-left: 24px;
	padding-right: 24px;
}

#wecollaborate h2 a {
	background: url(images/wecollaborate.png) no-repeat;
	display: block;
	width: 191px;
	height: 62px;
	text-indent: -9999px;
	overflow: hidden;
	margin-bottom: 12px;
}

#wecollaborate p {
	padding-bottom: 11px;
	font: 13px/18px "Helvetica Neue", Arial;
}

#wecollaborate p a {
	color: #fff;
	background-color: #695f48;
	text-decoration: none;
	padding: 1px 4px;
}

#wecollaborate p a:hover {
	color: #fff;
	background-color: #7f7358;
	text-decoration: none;
	padding: 1px 4px;
}

/* Footer */

#foot {
	color: #aaa6a2;
	font: 12px/18px "Helvetica Neue", Arial;
	background: url(images/foot.jpg) repeat-x center top;
}

#foot .wrap {
	padding-top: 18px;
	padding-bottom: 18px;
	height: 18px;
}

#foot small {
	font-size: 12px;
	float: left;
	display: block;
	padding-left: 19px;
	width: 296px;
}

#foot p {
	float: left;
	width: 400px;
}

#foot strong {
	float: right;
	font-weight: normal;
	font-style: normal;
	display: block;
	padding-right: 30px;
}

#foot strong a {
	font: italic 14px Georgia;
	color: #aaa6a2;
	text-decoration: none;
}

#foot strong a:hover {
	color: #fff;
}

.error {
	background-color: #ea3c0f;
	z-index: 999;
	position: absolute;
	top: 10px;
	left: 0;
	width: 244px;
	height: 22px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
}

img#thanks {
	position: absolute;
	top: 120px;
}







.post {
border-bottom:1px solid rgba(0, 0, 0, 0.2);
display:block;
padding:0 0 20px 0;
margin:0 0 20px 0;
position:relative;
}
.post:hover { border-bottom:1px solid #c70000 }
.article-short{
padding-left:20px;
border-left:1px solid rgba(0, 0, 0, 0.2);
float:right;
width:469px;
margin-left:20px;
}
.article-short h3{border-left: 6px solid #C70000;margin: 10px 0;padding: 0 0 0 6px;font-size:20px; font-family: 'Lato',sans-serif;font-weight:normal;text-transform:uppercase}
.arrow_link{
background:url(../lh4.googleusercontent.com/-12YoIlGhodM/UJOMlF04saI/AAAAAAAAEf8/ChOfEO1Q1aE/s13/small_arrow.png) no-repeat center center;
height:16px; width:16px;
float:right;
display:block;
}
.shadow{
background-image: url(../lh6.googleusercontent.com/-m9U_VlJZ0Tc/UJOMkuPY9bI/AAAAAAAAEf0/w-T6vHh8fUY/s600/shadow_post.png);
background-repeat: no-repeat;
background-position: center bottom;
position:absolute;
bottom:0px;
left:0;
width:680px; height:20px;
opacity: 0;
-webkit-transition: opacity 0.5s;
-moz-transition:    opacity 0.5s;
-o-transition:      opacity 0.5s;
}
.post:hover .shadow{opacity: 1;}
.post-body img { max-width:668px; }
.border_textured { padding: 6px; background: url(../lh5.googleusercontent.com/-6ckJuhXvvNU/UJOMmzB2r3I/AAAAAAAAEgQ/yVcLSWJUc8Y/s500/texture-wood.jpg) repeat scroll 50% 0 #ddd; }
.thumbnail { margin-bottom: 15px; }
.thumb{display:block;clear:both;width:668px;height:238px}
a.read_more{background:#000 url(../lh4.googleusercontent.com/-uRjr83HNk9s/UJOMgtnu5SI/AAAAAAAAEe8/L1jw1dOFMqI/s60/link_read.png) no-repeat 50% 50%;display:block;}
.post blockquote {
background:rgba(0, 0, 0, 0.1);
border:1px solid rgba(0, 0, 0, 0.2);
font-size: 14px;
line-height:24px;
font-family:Georgia, "Times New Roman", Times, serif;
font-style:italic;
color:#777;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 20px;
padding:10px 10px 10px 10px;
}
.post-footer { float: left; padding: 10px 0 0 10px;width: 160px;}
.post-footer span {clear: both;display: block;}
.date_post{background:url(../lh5.googleusercontent.com/-0vII9eEMrjw/UJOMh8IiF5I/AAAAAAAAEfQ/3dLjzWMPQZE/s16/picto_date.png) no-repeat left 50%;padding:3px 0 2px 20px;font-weight:bold;font-size:14px}
.author_post{background:url(../lh5.googleusercontent.com/-zDjHbs5vsbo/UJOMi0QWRVI/AAAAAAAAEfk/ZMCsNHR2tAA/s16/picto_user.png) no-repeat left 50%;padding:3px 0 2px 20px}
.category_post{background:url(../lh6.googleusercontent.com/-jI2c8px_B3o/UJOMhHC28iI/AAAAAAAAEfI/Bx6sPDZBZlA/s16/picto_category.png) no-repeat left 50%;padding:3px 0 2px 20px}
.comments_post{background:url(../lh3.googleusercontent.com/-qEF1ZwsCQw8/UJOMhxOwX-I/AAAAAAAAEfU/zR0J84F2e7o/s16/picto_comment.png) no-repeat left 50%;padding:3px 0 2px 20px}
#search_form .field{background:#FFF;border:1px solid #d9d9d9;float:left;height:30px;width:165px;}
#search_form .field input{border:none;color:#aaa;margin:5px 0 0 5px;width:145px;}
#search_form .field input:focus{color:#444;}
#search_form .button_search{float:left;width:30px;}
#search_form .button_search input{
background:#d9d9d9 url(../lh3.googleusercontent.com/-qU7mhVRP24c/UJOMkIYDQZI/AAAAAAAAEfs/CQCHY7LmGc8/s22/search_button.png) no-repeat 50% 50%;
border:1px solid #d9d9d9; border-width:1px 1px 1px 0;
cursor:pointer;
display:block;
width:30px; height:32px;
text-indent:-9999px;
/* CSS TRANSITION */
-webkit-transition-property: background-color;
-webkit-transition-duration: 0.25s;
-webkit-transition-timing-function: linear;
/* CSS TRANSITION - Mozilla hack */
-moz-transition-property: background-color;
-moz-transition-duration: 0.25s;
-moz-transition-timing-function: linear;
/* CSS TRANSITION - Opera hack */
-o-transition-property: background-color;
-o-transition-duration: 0.25s;
-o-transition-timing-function: linear;
}
#search_form .button_search input:hover{background:#191919 url(../lh5.googleusercontent.com/-GGUJEZORxrk/UJOMkuSjiiI/AAAAAAAAEf4/wh8ranEzDik/s22/search_button2.png) no-repeat 50% 50%;}
#search_form,.sidebar .widget{margin-bottom:20px}
.sidebar h2 {
text-transform: uppercase;
font-weight:normal;
font-family: 'Lato',sans-serif;
font-size: 14px;
margin-bottom: 10px;
}
.sidebar li {border-bottom:1px dotted rgba(0, 0, 0, 0.2);padding:4px;}
.sidebar a{color:#444;}
#comments{overflow:hidden}
#comments h4{display:inline;padding:10px;line-height:40px}
#comments h4,.comments .comment-header,.comments .comment-thread.inline-thread .comment{position:relative}
#comments h4,.comments .continue a{background:#c70000}
#comments h4,.comments .user a,.comments .continue a{font-size:16px}
#comments h4,.comments .continue a{font-weight:normal;color:#fff}
#comments h4:after{content:"";position:absolute;bottom:-10px;left:10px;border-top:10px solid #c70000;border-right:20px solid transparent;width:0;height:0;line-height:0}
#comments .avatar-image-container img{border:0}
.comment-thread{color:#111}
.comment-thread a{color:#777}
.comment-thread ol{margin:0 0 20px}
.comment-thread .comment-content a,.comments .user a,.comments .comment-thread.inline-thread .user a{color:#c70000}
.comments .avatar-image-container,.comments .avatar-image-container img{width:48px;max-width:48px;height:48px;max-height:48px}
.comments .comment-block,.comments .comments-content .comment-replies,.comments .comment-replybox-single{margin-left:60px}
.comments .comment-block,.comments .comment-thread.inline-thread .comment{border:1px solid #ddd;background:#f9f9f9;padding:10px}
.comments .comments-content .comment{margin:15px 0 0;padding:0;width:100%;line-height:1em}
.comments .comments-content .icon.blog-author{position:absolute;top:-12px;right:-12px;margin:0;background-image: url(../lh5.googleusercontent.com/-cz1ogKtwNBc/T-xs3x0de-I/AAAAAAAABwI/KlCgXlV7uo0/s36/author.png);width:36px;height:36px}
.comments .comments-content .inline-thread{padding:0 0 0 20px}
.comments .comments-content .comment-replies{margin-top:0}
.comments .comment-content{padding:5px 0;line-height:1.4em}
.comments .comment-thread.inline-thread{border-left:1px solid #ddd;background:transparent}
.comments .comment-thread.inline-thread .comment{width:auto}
.comments .comment-thread.inline-thread .comment:after{content:"";position:absolute;top:10px;left:-20px;border-top:1px solid #ddd;width:10px;height:0px}
.comments .comment-thread.inline-thread .comment .comment-block{border:0;background:transparent;padding:0}
.comments .comment-thread.inline-thread .comment-block{margin-left:48px}
.comments .comment-thread.inline-thread .user a{font-size:13px}
.comments .comment-thread.inline-thread .avatar-image-container,.comments .comment-thread.inline-thread .avatar-image-container img{width:36px;max-width:36px;height:36px;max-height:36px}
.comments .continue{border-top:0;width:100%}
.comments .continue a{padding:10px 0;text-align:center}
.comment .continue{display:none}
#comment-editor{width:103%!important}
.comment-form{width:100%;max-width:100%}
.comments .comments-content .loadmore,.comments .comments-content {margin:0}
#blog-pager-newer-link {float: left;}
#blog-pager-older-link {float: right;}
#blog-pager { margin:0; padding:10px 0; text-align: center; clear:both; }
.pagenavi .current{
background:#000 !important;
border:none !important;
padding:4px 6px !important;
color: #fff;
margin-right: 4px;
}
.pagenavi a{
background: #ccc !important;
border:none !important;
color: #333;
padding:4px 6px !important;
margin-right: 4px;
}
.pagenavi a:hover{
background: #000 !important;
border:none !important;
color: #FFF !important;
}
#footer {
background: #191919;
border-bottom: 1px solid #474747;
border-top: 8px solid #D5D5D5;
color: #F9F9F9;
}
.footer-left{float:left;padding: 0 0 0;}
.footer-right{float:right}
#cpr .content,#footer .content { color: #B6B6B6;  margin: 0 auto; width: 960px; }
.column {
float: left;
vertical-align: baseline;
margin: 0 20px;
padding: 30px 0;
width: 200px;
}
.column a{color:#fff}
.column h2 {
background: url(../lh6.googleusercontent.com/-GKcIxkcqBKU/UJOMgZe57_I/AAAAAAAAEe4/1pFvUjZuSHk/s2/ft_separator.png) repeat-x scroll left bottom transparent;
padding: 0 0 8px;
font-weight:normal;
text-transform: uppercase;
font-family: 'Lato',sans-serif;
font-size: 14px;
margin-bottom: 10px;
}
#cpr{color:##B6B6B6;height:30px;line-height:28px;text-align:center;background:#0f0f0f}
#cpr a {color:#C70000}
#author-info{margin:10px 0;padding:10px;background:#f9f9f9;border:1px solid #dedede}
#author-info h5{ font-family: 'Lato',sans-serif; font-size: 12px;margin-bottom:3px}
#author-image{width:80px;display:block;float:left}
#author-image img{border:1px solid #dedede;padding:1px}
#author-bio{width:550px;display:block;float:left;padding:0 0 0 20px;font-size:11px;line-height:19px}
#PopularPosts1 img {float:left;margin:0 10px 0 0;padding:0}
#PopularPosts1 dd {display:block; clear:both;padding:8px 0;border-bottom: 1px dotted rgba(0, 0, 0, 0.2);}
.status-msg-body {position:relative !important}
.CSS_LIGHTBOX { z-index: 9999 !important; }


